@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    font-family: "Nanum Pen Script";
    text-align: center;
}

div {

    border: 3px solid skyblue;
    margin: 30px;
    background-color: blanchedalmond;
    padding: 30px;
    

}

.title {
    font-size: 60px;
}

.main {
    font-size: 30px;
}

.last {
    font-size: 30px;
}

.btn-dark {
    width: 300px;
    height: 80px;
    font-size: 30px;
}