@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto sans KR';
    text-align: center;
}

div {
    border: 3px solid black;
    margin: 30px;
    background-color: beige;
    padding: 30px;
}

.title {
    font-size: 60px;
}

.main1 {
    font-size: 30px;
}

.result {
    font-size: 30px;
}

.btn-secondary {
    width: 200px;
    height: 80px;
    font-size: 30px;
}